<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <h1>About Me</h1>
  <nav>
    <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="/projects">Projects</a> |
    <a href="/contact">Contact</a>
  </nav>

  <p>Hi, I'm Shawnzey — a Technology Management student at Ontario Tech University.</p>
  <p>I enjoy learning about IT and business. My hobbies include; painting, going for walks, and reading! </p>
</body>
</html>
