<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <h1>Contact Me</h1>
  <nav>
    <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="/projects">Projects</a> |
    <a href="/contact">Contact</a>
  </nav>

  <p>Email: shawnzey.syed@ontariotechu.net/p>
  <p>GitHub: <a href="https://github.com/shawnzeysyed-ui">shawnzeysyed-ui</a></p>
</html>
