<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <nav>
      <a href="/">Home</a> |
      <a href="/about">About</a> |
      <a href="/projects">Projects</a> |
      <a href="/contact">Contact</a>
    </nav>

    <h1>Projects</h1>
    <ul>
      <li>Project 1 – Computer Architecture</li>
      <li>Project 2 – Object Oriented Programming</li>
      <li>Project 3 – Express using Java and Node</li>
      <li>Project 4 – Cloud Deployment using AWS</li>
    </ul>
  </body>
</html>
