<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/public/stylesheet/style.css">
</head>
<body>
  <nav>
    <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="/projects">Projects</a> |
    <a href="/contact">Contact</a>
  </nav>

  <h1>Welcome to Shawnzey's Webpage!</h1>
  <p>This website was built for Assignment 2 for course INFR3120.</p>
  <p>I love to learn and create below is a junk journal oi created!</p>
<section id="home">
  <h1>Welcome to My Homepage!</h1>
  <img src="/public/images/ass2img.png" alt="Homepage Image" width="400">
</section>
</body>
</html>
