<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/public/stylesheet/style.css"> 
</head>
<body>
  <h1>Welcome to Shawnzey's Webpage!</h1>
  <p>This website was built for Assignment 2 for course INFR3120.</p>

  <nav>
    <a href="/">Home</a> |
    <a href="#about">About</a> |
    <a href="#projects">Projects</a> |
    <a href="#contact">Contact</a>
  </nav>

  <section id="about">
    <h2>About Me</h2>
    <p>I’m a student at Ontario Tech studying Technology Management.</p>
  </section>

  <section id="projects">
    <h2>Projects</h2>
    <ul>
      <li>Project 1 – Computer Architecture</li>
      <li>Project 2 – Object Oriented programming</li>
      <li>Project 3 – Express using Java and Node</li>
      <li>Project 4 – Cloud Deployment using AWS</li>
    </ul>
  </section>

  <section id="contact">
    <h2>Contact</h2>
    <p>Email: shawnzey.syed@ontariotechu.net</p>
  </section>

  <footer>
    <p>&copy; <%= new Date().getFullYear() %> Shawnzey Syed</p>
  </footer>
</body>
</html>

