<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>Welcome to Shawnzey's Webpage</h1>
    <p>This is the home page.</p>
  </body>
</html>
