<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <nav>
    <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="/projects">Projects</a> |
    <a href="/contact">Contact</a>
  </nav>

  <h1>Projects</h1>
  <ul>
    <li>Project 1 – Computer Architecture: for this project I had to write a 10 page essay on 5G and IOT.</li>
    <li>Project 2 – Object Oriented Programming: I created a car booking system which is interactive and can be used to rent and return cars of your choice.</li>
    <li>Project 3 – Express using Java and Node. The current project im working on right now which is this assignmnet! My first time working with express and ejs and using javascript. I always used python so its exciting to learn a new lanaguage.</li>
    <li>Project 4 – Cloud Deployment using AWS: i have used aws in the course introduction to cloud services and this will be the second time im using aws for cloud deployment!</li>
  </ul>
</body>
</html>
